{% extends 'layout.html' %}

{% block content %}

      <style>
    body { margin: 0; overflow: hidden; background: #000; }
    #globeViz { width: 100vw; height: 100vh; }
  </style>

<body>
  <div id="globeViz"></div>
    <script src="https://unpkg.com/globe.gl"></script>
    <script src="https://unpkg.com/topojson@3"></script>
    <script> const difficultyForCountries = {{ cuisine | tojson }} </script>
    <script src="{{ url_for('static', filename='js/world_map.js') }}"></script>
{% endblock %}