<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CookQuest</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    
</head>
<body>
    <main class="mt-5 w-full p-10
                grid grid-col-3 gap-10 justify-center">
        <h1 class="text-7xl">CookQuest</h1>
        <h4 class="mt-0">ByteJam 2025</h4>
        <!-- idk whether this will be a button itself or just linked to the page -->
        <!-- can be changed -->
        <p class="py-2 px-4 w-40">1v1</p>
        <p class="py-2 px-4 w-45">Campaign</p>
        <a href="#" class="text-2xl py-4 px-4 w-40"> Credits</a>
    </main>
</body>
</html>