<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, intial-scale=1.0"/>
        <meta charset="UTF-8">
        <title>CookQuest</title>
        <link rel="stylesheet" href="styles.css">
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </head>

    <body class="mt-10 h-screen">
        <header role="title-banner">
            <h1 id="cook-quest" class="text-7xl gap-10">CookQuest</h1>
            <h4 class="mt-6">ByteJam 2025</h4>
        </header>

        <main class="mt-15 gap-15 grid grid-col-3 justify-center">
            <!-- idk whether this will be a button itself or just linked to the page -->
            <a href="#" class="py-2 px-4 w-40 h-15" aria-label="1v1">1v1</a>
            <a href="#" class="py-2 px-4 w-45 h-15" aria-label="campaign">Campaign</a>
            <a href="#" class="text-2xl py-2 px-4 w-40 h-15" aria-label="credits"> Credits</a>
        </main>
    </body>
</html>